.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    min-height: fit-content;
    max-height: 85%;
    background-color: #f1f1f1;
}

.modal form {
    overflow-y: auto;
}

.modal h3 {
    font-size: 20px;
}

.inputsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.block label {
    font-size: 18px;
}

.block input {
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
}

.block select {
    margin-top: 5px;
    font-size: 18px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.buttonContainer button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.buttonContainer button:hover {
    cursor: pointer;
}

.buttonContainer button:first-child {
    background-color: rgb(58, 58, 211);
}

.buttonContainer button:first-child:hover {
    background-color: rgb(56, 56, 160);
}
/*
.buttonContainer button:last-child {
    background-color: grey;
}

.buttonContainer button:last-child:hover {
    background-color: rgb(87, 87, 87);
}
*/
.extraContainer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

@media screen and (max-width: 860px) {
    .inputsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .block label {
        font-size: 12px;
    }

    .inputsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 380px) {
    .modal {
        min-width: none;
    }
}